<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pomodoro Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="time-display">
    <h2>Current Time</h2>
    <p>{{ formatCurrentTime() }}</p>
  </div>

  <div class="timer-container">
    <h2>{{ isWorkTime ? 'Work Time' : 'Break Time' }}</h2>
    <div class="timer-display">
      {{ formatTime(remainingSeconds) }}
    </div>
    
    <ion-button 
      expand="block" 
      color="primary" 
      (click)="isRunning ? resetTimer() : startPomodoro()">
      {{ isRunning ? 'Reset' : 'Start Pomodoro' }}
    </ion-button>
  </div>
</ion-content>